/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: rgb(117, 137, 248);
    --primary-hover: rgb(73, 100, 255);
    --denger: rgb(243, 101, 101);
    --denger-hover: rgb(255, 53, 53);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    user-select: none;
}

.title {
    font-size: 32px;
    font-weight: 800;
    color: var(--primary);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.loading-message {
    text-align: center;
    font-size: 18px;
    color: var(--primary);
}

.error-message {
    text-align: center;
    font-size: 18px;
    color: var(--denger);
}